#active_elements .element {
	border-bottom: 1px solid #ccc;
}

#active_elements .element h5 {
	background: #ccc;
	padding: 2px 4px;
}

#active_elements .removeElement {
	float: right;
	padding: 10px;
}

#inactive_elements {
	background: #ccc;
	padding: 10px;
}

.textMacros {
	margin: 0 0 10px;
}

.textMacros.inline {
	display: inline-block;
}

.textMacros select{
	width: 120px;
	margin-right: 10px;
}

#event_content .cols2 {
	padding-bottom: 0 !important;
}

#event_content .Element_OphCiExamination_VisualAcuity th {
	font-weight: normal;
	text-align: left;
	padding: 2px 5px 2px 0;
}

#event_content .Element_OphCiExamination_VisualAcuity td {
	padding: 2px 5px 2px 0;
}

#event_content .Element_OphCiExamination_VisualAcuity .data {
	margin-left: 10px;
}

#event_content canvas {
	float: left;
	border: 1px solid #ccc;
	margin: 10px 0;
}

#event_content .eyedrawFields {
	float: left;
	width: 180px;
	margin: 5px 0 0 10px;
}

#event_content .eyedrawFields.view {
	width: 280px;
}

#event_content .eyedrawFields > div {
	margin: 5px 0;
}

#event_content .eyedrawFields .label,
#event_content .eyedrawFields .data {
	display: inline-block;
}
