.Element_OphCiExamination_IntraocularPressure {
	.element-data {
		border-top: 4px solid #000;
		.element-eye {
			border-right: 2px solid #000;
		}
		.right-eye {
			text-align: right;
		}
	}
}
.Element_OphCiExamination_Diagnoses {
	.panel {
		margin-bottom: 10px;
	}
	.panel:last-child {
		margin-bottom: 0;
	}
	table {
		&.blank {
			width: 100%;
		}
		td {
			padding: emCalc(5px) 0;
			&.eye {
				label {
					display: inline-block;
					padding-right: emCalc(8px);
				}
			}
		}
	}
}