#active_elements .element { position: relative; }
#active_elements h4.elementTypeName { border-top: 2px dotted #8C949C; }
#active_elements .element h5 { background: #ccc; padding: 2px 4px; }
#active_elements .removeElement { position: absolute; right: 5px; top: 7px; z-index: 1; }
#active_elements .active_child_elements h4.elementTypeName {border-top: 2px dotted #56A7F1; }
#active_elements .inactive_child_elements .element {background: #8C949C url(../../../img/_elements/icons/extra-element_view.png) top right no-repeat; padding: 5px; color: #fff; border-bottom: 1px dotted #fafafa; cursor: pointer;}
#active_elements .inactive_child_elements .element h5 {margin: 0; line-height: 1em; padding: 0 5px; background: none;}
#inactive_elements .element { background: #8C949C url(../../../img/_elements/icons/extra-element_view.png) top right no-repeat; padding: 5px; color: #fff; border-bottom: 1px dotted #fafafa; cursor: pointer; } 
#inactive_elements h5 { margin: 0; line-height: 1em; padding: 0 5px; } 
#inactive_elements .element:hover { background-color: #3665ff; } 
#inactive_elements .element.clicked { background: #ddd url(../../../img/ajax-loader.gif) 1010px 4px no-repeat; } 
#inactive_elements .element.clicked h5 { color: #333; } 
#optionals_all { font-size: 12px; border-bottom: 1px dotted #fafafa; border-top: 2px dotted #8C949C; margin-top: 10px; background: #dae6f1; }
#event_content #optionals_all h4 { margin: 0; padding: 6px 8px; float: left; border: none; }
#optionals_all div { float: right; height: 28px; }
#optionals_all .allButton { display: inline-block; height: 20px; padding: 0 0 2px 15px; margin: 3px 0 0 1px; cursor: pointer; } 
#optionals_all .allButton > a { position: relative; top: 2px; }
.textMacro { margin: 0 0 10px; } 
.textMacro.inline { display: inline-block; }
.textMacro { width: 120px; }
#event_content .cols2 { padding-bottom: 0 !important; }
#event_content .cols2 .inactive .activeForm,
#event_content .cols2 .inactiveForm { display: none; }
#event_content .cols2 .activeForm,
#event_content .cols2 .inactive .inactiveForm  { display: block; }
#event_content .cols2 .inactiveForm { margin: 10px 10px 20px; text-align: center; }
#event_content .cols2 .inactiveForm a { padding-right: 23px; background: url(../../../img/_elements/icons/extra-element_view.png) center right no-repeat; }
#event_content .cols2 .activeForm a.removeSide { display: block; position: absolute; top: 5px; right: 5px; width: 16px; height: 16px;
	background: url(../../../img/_elements/icons/extra-element_remove.png) -10px -2px no-repeat; text-decoration: none; text-indent: -9999px; }
#event_content .cols2 .activeForm a.removeSide:hover { border: none; }
#event_content .cols2 .activeForm { width: 100% }
#event_content .cols2 div.label { width: 80px; display: inline; }
#event_content .cols2 .data { display: inline; }
div.activeForm div.aligned { clear: both;}
div.activeForm div.aligned div.label, div.activeForm div.aligned div.data { display: inline-block; }
#event_content .metaData { margin-top: 20px; }
#event_content .Element_OphCiExamination_IntraocularPressure label { font-size: 13px; }
#event_content .Element_OphCiExamination_VisualAcuity th,
#event_content .Element_OphCiExamination_IntraocularPressure th { font-weight: normal; text-align: left; padding: 2px 5px 2px 0; }
#event_content .Element_OphCiExamination_VisualAcuity td,
#event_content .Element_OphCiExamination_IntraocularPressure td { padding: 2px 10px 2px 0; }
#event_content .Element_OphCiExamination_VisualAcuity .eventDetail,
#event_content .Element_OphCiExamination_IntraocularPressure .eventDetail { padding-bottom: 0; }
#event_content .Element_OphCiExamination_VisualAcuity .data,
#event_content .Element_OphCiExamination_IntraocularPressure .data { display: block; margin-bottom: 10px; }
#event_content .Element_OphCiExamination_VisualAcuity .data input,
#event_content .Element_OphCiExamination_IntraocularPressure .data input { font-size: 13px; }
#event_content .Element_OphCiExamination_VisualAcuity table,
#event_content .Element_OphCiExamination_IntraocularPressure table { margin-bottom: 5px; }
#event_content .Element_OphCiExamination_VisualAcuity .readingActions,
#event_content .Element_OphCiExamination_IntraocularPressure .readingActions { font-size: 12px; line-height: 19px;}
#event_content canvas { float: left; border: 1px solid #ccc; margin: 0; }
#event_content div.ed_toolbar { margin: 0 0 10px; }
#event_content .eyedrawFields { float: left; width: 180px; margin: 5px 0 0 10px; }
#event_content .eyedrawFields.view { width: 280px; }
#event_content .eyedrawFields>div { margin: 5px 0; }
#event_content .eyedrawFields .label,#event_content .eyedrawFields .data { display: inline-block; }
#event_content .eyedrawFields .aligned .label { width: 75px; }
#event_content .Element_OphCiExamination_Refraction .eyedrawFields { width: 320px; }
/*
#event_content .Element_OphCiExamination_IntraocularPressure .cols2 > .left,
#event_content .Element_OphCiExamination_IntraocularPressure .cols2 > .right { border-width: 4px 0 0 0; border-color: #000; border-style: solid; width: 493px; }
#event_content .Element_OphCiExamination_IntraocularPressure .cols2 > .left {
	border-right-width: 2px;
	text-align: right;
}
#event_content .Element_OphCiExamination_IntraocularPressure .cols2 > .right { border-left-width: 2px; }
*/
span.OphCiExamination_eye_radio { width: 73px; display: inline-block; }

#div_Element_OphCiExamination_Management_city_road { padding: 5px !important; }
#div_Element_OphCiExamination_Management_satellite { padding: 5px !important; }
#div_Element_OphCiExamination_Management_fast_track { padding: 5px !important; }
#Element_OphCiExamination_Management_city_road { margin-left: 5px !important; margin-top: 7px; }
#Element_OphCiExamination_Management_satellite { margin-left: 5px !important; }
#Element_OphCiExamination_Management_fast_track { margin-left: 5px !important; }
#div_Element_OphCiExamination_Management_target_postop_refraction > .label { width: 290px !important; }
#Element_OphCiExamination_Management_target_postop_refraction { width: 400px !important; }
#Element_OphCiExamination_Management_correction_discussed > .label { width: 286px !important; }
#Element_OphCiExamination_Management_supervised { margin-left: 5px; }
#Element_OphCiExamination_Management_previous_refractive_surgery > .label { width: 288px !important; }
#div_Element_OphCiExamination_Management_suitable_for_surgeon_id > .label { width: 288px !important; }
.Element_OphCiExamination_DRGrading .whiteBox { clear: none; float: right; display: block; width: 200px; margin-left:50px;}

#Element_OphCiExamination_History_previous_refractive_surgery > .label { width: 208px !important; margin-top: 5px; }

.gonioCross { width: 160px; height: 110px; background: url(../img/cross.gif) no-repeat center center; position: relative; margin-top: 5px;}
.gonioCross div { position: absolute; text-align: center; }
.gonioCross .gonioSup { top: 5px; width: 100%; }
.gonioCross .gonioTem { left: 5px; top: 50%; height: 20px; margin-top: -10px; }
.gonioCross .gonioNas { right: 5px; top: 50%; height: 20px; margin-top: -10px; }
.gonioCross .gonioInf { bottom: 5px; width: 100%; }
.eyedrawFields.view .gonioCross { width: 120px; height: 80px; }
.eyedrawFields.view .gonioCross .gonioSup { top: 5px; }
.eyedrawFields.view .gonioCross .gonioTem { left: 15px; }
.eyedrawFields.view .gonioCross .gonioNas { right: 15px; }
.eyedrawFields.view .gonioCross .gonioInf { bottom: 5px; }

#risks_selected ul { padding: 0; margin: 0; }
#risks_selected ul:before, #risks_selected ul:after { content: ""; display: table; }
#risks_selected ul:after { clear: both; }
#risks_selected ul { zoom: 1; }
#content #risks_selected p {
	margin: 10px 0 0 0;
	padding: 4px 6px;
	background: #efe;
}
#risks_selected li {
	float: left;
	margin: 5px 5px 0 0;
	list-style: none;
	padding: 4px 6px;
	border-radius: 4px;
	background: #ffe;
}
#risks_selected li span {
	float: left;
}
#risks_selected li a {
	float: right;
	width: 14px;
	margin-left: 4px;
	text-indent: -9999px;
	background: url(../../../img/_elements/icons/extra-element_remove.png) no-repeat -10px -2px;
	opacity: 0.5;
}
#risks_selected li a:hover {
	opacity: 1;
	border: none;
}
#risks_unselected { clear: both; margin: 0 0 5px; }
#risks_unselected a { margin-left: 10px; }

#div_dilation_drug_right { margin-left: -10px; display: inline; }
#div_dilation_drug_left { margin-left: -10px; display: inline; }
#div_Element_OphCiExamination_Dilation_time_right { margin-left: -10px; }
#div_Element_OphCiExamination_Dilation_time_left { margin-left: -10px; }
#div_Element_OphCiExamination_Dilation_time_right .label { width: 55px !important; margin-top: 3px; }
#div_Element_OphCiExamination_Dilation_time_left .label { width: 55px !important; margin-top: 3px; }
#Element_OphCiExamination_Dilation_time_right { width: 48px; }
#Element_OphCiExamination_Dilation_time_left { width: 48px; }
div.dilation_table_right { margin-top: 10px; }
div.dilation_table_left { margin-top: 10px; }
div.timeDiv { display: inline; margin-left: 12px; }

