@import "../../../css/printcontent.css";

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.page{
	padding: 0 30px;
	font-size: 12pt;
}

h2{
	margin: 20px 0 10px 0;
	font-size: 1.3em;
}

h3{
	margin: 10px 0 5px 0;
	font-size: 1.1em;
}

.procedureContainer{
	margin-bottom: 15px;
	border-bottom: 1px dotted #666;
	padding-bottom: 10px;
}

.procedureContainer.last{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.body{
	width: 92%;
	float: right;
	clear: both;
}

.leftHalf{
	width: 48.5%;
	margin-right: 1%;
}

.rightHalf{
	float: right;
	width: 48.5%;
	margin-left: 1%;
}

.header{
	clear: both;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}

.headerInfo{
	position: relative;
}

.seal{
	float: right;
	clear: both;
}

.label{
	display: inline-block;
	text-align: right;
}

.detailRow{
	position: relative;
	margin-bottom: 3px;
	page-break-inside: avoid;
}

.detailRow.grouped{
	border: 1px solid #000;
	margin-bottom: 10px;
}

.detailRow.grouped .value{
	width: auto;
	padding: 5px 5px;
	text-align: left;
	margin: 0;
}

.detailRow .label{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
}

.detailRow .value{
	width: auto;
	margin-left: 205px;
	/* font-weight: bold; */
}

.detailRow .value.noBorder{
	border: none !important;
}

.detailRow.inline{
	display: inline-block;
	width: 19%;
	margin-right: 0.5%;
}

.detailRow.inline .label{
	width: auto;
	text-align: left;
	position: relative;
}

.detailRow.inline .value{
	width: auto;
	float: left;
	margin: 5px 0 0 0;
}

.detailRow.leftAlign .label{
	text-align: left;
}

.detailRow .value.pronounced{
	font-size: 15px;
	font-style: italic;
	/* font-weight: bold; */
}

.detailRow.clearVal{
	margin-bottom: 10px;
}

.detailRow.clearVal .label{
	position: relative;
	text-align: left;
	margin: 10px 0 5px 0;
	width: 50%;
}

.detailRow.clearVal .value{
	border: 1px solid #000;
	padding: 10px 5px;
	margin: 0;
	width: auto;
}

.title h1{
	margin: 30px 0 15px 0;
	display: inline-block;
}

.middle{
	margin: 0 auto;
	text-align: center;
}

.patientDetails{
	border: 1px solid #000;
	padding: 5px 10px;
	display: inline-block;
	width: 350px;
}

.headerDetails{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 40%;
	font-size: 15px;
}

.noteDates{
	position: absolute;
	top: 10px;
	right: 10px;
}

.surgeonList{
	margin-top: 15px;
}

.surgeonList div{
	width: 33%;
	display: inline-block;
	text-align: center;
}

.details{
	border: 1px solid #000;
	padding: 5px 10px;
	margin-bottom: 15px;
}

.anaestheticDetails{
	position: relative;
}

.footer{
	margin-top: 20px;
}

#OphCiExamination_print .left { clear: left; float: left; width: 48%; position: relative; }
#OphCiExamination_print .right { clear: right; float: right; width: 48%; position: relative; }

.data { display: inline-block; }
